Repository noahluftyang/front-end-comparison: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, vue-cli-service lint, markdownlint

.lintstagedrc:

{
  "**/*.js": "eslint",
  "**/*.{ts,tsx}": "eslint",
  "**/*.{vue}": "vue-cli-service lint",
  "**/*.md": "markdownlint"
}

Add codesandbox config
  sandbox.config.json
Due: none

Update sandbox.config.json
  sandbox.config.json
Due: none

Add movies api service
  .env.template
  packages/angular/src/app/movies/movies.component.html
  packages/angular/src/app/movies/movies.component.ts
  packages/angular/src/app/movies/movies.service.ts
Due: eslint

Upload vue movies list
  package.json
  packages/angular/angular.json
  packages/angular/package.json
  packages/angular/src/app/app.component.html
  packages/angular/src/app/app.module.ts
  packages/angular/src/app/components/layout/layout.component.css
  packages/angular/src/app/components/layout/layout.component.html
  packages/angular/src/app/components/layout/layout.component.spec.ts
  packages/angular/src/app/components/layout/layout.component.ts
  packages/angular/src/app/components/mod.ts
  packages/angular/src/app/movies/movies.component.css
  packages/angular/src/app/movies/movies.component.html
  packages/angular/src/app/movies/movies.component.ts
  packages/angular/src/app/movies/movies.service.ts
  packages/angular/src/app/services/movies.service.spec.ts
  packages/angular/src/app/services/movies.service.ts
  packages/angular/src/environments/environment.ts
  packages/angular/src/global.css
  packages/angular/src/styles.css
  packages/angular/tsconfig.app.json
  packages/angular/tsconfig.json
  packages/preact/preact.config.js
  packages/vue/.env.template
  packages/vue/package.json
  packages/vue/src/App.vue
  packages/vue/src/antd-variables.less
  packages/vue/src/components/layout.vue
  packages/vue/src/main.ts
  packages/vue/src/plugins/ant-design-vue.js
  packages/vue/src/plugins/ant-design-vue.ts
  packages/vue/src/router.ts
  packages/vue/src/services/tmdb.ts
  packages/vue/src/views/About.vue
  packages/vue/src/views/Home.vue
  packages/vue/src/views/index.vue
  packages/vue/src/views/movies.vue
  packages/vue/src/views/search.vue
  postcss.config.js
  yarn.lock
Due: eslint

Add next & nuxt
  package.json
  packages/react-next/components/nav.js
  packages/react-next/package.json
  packages/react-next/pages/index.js
  packages/react-next/public/favicon.ico
  packages/vue-nuxt/.babelrc.js
  packages/vue-nuxt/.eslintrc.js
  packages/vue-nuxt/README.md
  packages/vue-nuxt/assets/README.md
  packages/vue-nuxt/components/Logo.vue
  packages/vue-nuxt/components/README.md
  packages/vue-nuxt/jest.config.js
  packages/vue-nuxt/jsconfig.json
  packages/vue-nuxt/layouts/README.md
  packages/vue-nuxt/layouts/default.vue
  packages/vue-nuxt/middleware/README.md
  packages/vue-nuxt/nuxt.config.js
  packages/vue-nuxt/package.json
  packages/vue-nuxt/pages/README.md
  packages/vue-nuxt/pages/index.vue
  packages/vue-nuxt/plugins/README.md
  packages/vue-nuxt/plugins/antd-ui.js
  packages/vue-nuxt/static/README.md
  packages/vue-nuxt/static/favicon.ico
  packages/vue-nuxt/store/README.md
  packages/vue-nuxt/test/Logo.spec.js
  packages/vue/package.json
  sandbox.config.json
  yarn.lock
Due: eslint, markdownlint

Setup cypress
  packages/preact/tests/header.test.js
  packages/react-gatsby/cypress.json
  packages/react-gatsby/jest.config.js
  packages/react-gatsby/tests/e2e/movies.spec.ts
  tsconfig.json
Due: eslint

Add autocomplete
  packages/angular/src/app/app-routing.module.ts
  packages/angular/src/app/app.module.ts
  packages/angular/src/app/movies/movies.component.css
  packages/angular/src/app/movies/movies.component.ts
  packages/angular/src/app/search/search.component.css
  packages/angular/src/app/search/search.component.html
  packages/angular/src/app/search/search.component.spec.ts
  packages/angular/src/app/search/search.component.ts
  packages/angular/src/app/services/search.service.spec.ts
  packages/angular/src/app/services/search.service.ts
  packages/angular/src/styles.css
Due: eslint

Add vue search service
  package.json
  packages/angular/package.json
  packages/angular/src/app/app-routing.module.ts
  packages/angular/src/app/app.component.html
  packages/angular/src/app/app.module.ts
  packages/angular/src/app/login/login.component.css
  packages/angular/src/app/login/login.component.html
  packages/angular/src/app/login/login.component.spec.ts
  packages/angular/src/app/login/login.component.ts
  packages/angular/src/app/movies/movies.component.ts
  packages/angular/src/app/register/register.component.css
  packages/angular/src/app/register/register.component.html
  packages/angular/src/app/register/register.component.spec.ts
  packages/angular/src/app/register/register.component.ts
  packages/angular/src/app/search/search.component.html
  packages/angular/src/app/search/search.component.ts
  packages/angular/src/app/services/auth.service.spec.ts
  packages/angular/src/app/services/auth.service.ts
  packages/angular/src/app/services/movies.service.ts
  packages/angular/src/app/services/search.service.ts
  packages/angular/src/app/services/users.service.spec.ts
  packages/angular/src/app/services/users.service.ts
  packages/vue/package-lock.json
  packages/vue/package.json
  packages/vue/src/App.vue
  packages/vue/src/components/HelloWorld.vue
  packages/vue/src/components/layout.vue
  packages/vue/src/router.ts
  packages/vue/src/services/auth.ts
  packages/vue/src/services/movies.ts
  packages/vue/src/services/tmdb.ts
  packages/vue/src/services/users.ts
  packages/vue/src/views/login.vue
  packages/vue/src/views/movies.vue
  packages/vue/src/views/search.vue
  yarn.lock
Due: eslint

Update vanilla code
  .gitignore
  package.json
  packages/vanilla/.env.template
  packages/vanilla/package.json
  packages/vanilla/public/index.html
  packages/vanilla/src/components/layout.ts
  packages/vanilla/src/components/mod.ts
  packages/vanilla/src/index.ts
  packages/vanilla/src/pages/home.ts
  packages/vanilla/src/pages/movies.ts
  packages/vanilla/src/routes.ts
  packages/vanilla/src/services/movies.ts
  packages/vue-nuxt/package.json
  packages/vue/package.json
  packages/vue/src/router.ts
  packages/vue/src/views/login.vue
  packages/vue/src/views/movies.vue
  packages/vue/src/views/search.vue
  yarn.lock
Due: eslint
